/* style.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{

    background:#0d3b66;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;
}

#gameContainer{

    position:relative;

    width:1000px;

    max-width:95vw;
}

canvas{

    width:100%;

    background:#7ec8ff;

    border:6px solid white;

    border-radius:12px;

    display:block;
}

#ui{

    position:absolute;

    inset:0;

    pointer-events:none;
}

.topBar{

    display:flex;

    justify-content:space-between;

    padding:15px;
}

.box{

    background:rgba(0,0,0,.55);

    color:white;

    padding:10px 18px;

    border-radius:10px;

    font-size:22px;

    font-weight:bold;
}

#startScreen,
#gameOver{

    position:absolute;

    inset:0;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    background:rgba(0,0,0,.75);

    color:white;

    gap:18px;

    pointer-events:auto;
}

#gameOver{

    display:none;
}

button{

    cursor:pointer;

    padding:15px 35px;

    font-size:22px;

    border:none;

    border-radius:12px;

    background:#00b894;

    color:white;

    font-weight:bold;

    transition:.25s;
}

button:hover{

    transform:scale(1.05);

    background:#00d8a7;
}

h1{

    font-size:52px;
}

h2{

    font-size:34px;
}

p{

    font-size:22px;
}
